<div class="text-center form-cont">
  <div class="form-login bg-light">
      <form [formGroup]="loginForm" (ngSubmit)="login()">
            <div class="user">
              <h1 class="h3 mb-3 fw-normal"><img src="assets/images/logo.png" alt=""></h1>
            </div>

          <div class="form-floating">
              <input
              (input)="this.serverErrMsg.email=''"
              type="email" class="form-control" formControlName="email">
              <label for="email">Email address</label>
              <div class='server-err' *ngIf="email?.invalid && (isSubmitted || email?.dirty || email?.touched )">
                <p *ngIf="email?.errors?.['required']">* Email is required </p>
                <p *ngIf="email?.errors?.['email']">* invalid Email Adress </p>
            </div>
          </div>

          <div class="form-floating">
            <input
            (input)="this.serverErrMsg.email=''"
            type="password" class="form-control" formControlName="password">
            <label for="password">Password</label>
            <div class='server-err' *ngIf="password?.invalid && (isSubmitted || password?.dirty || password?.touched )">
              <p *ngIf="password?.errors?.['required']">* Password is required </p>
          </div>
          </div>
          <div class="my-3 form-check form-switch text-start text-muted">
            <input type="checkbox" class="form-check-input me-2" id="exampleCheck1">
            <label class="form-check-label" for="exampleCheck1">Keep me logged in</label>
          </div>
          <div class="text-start text-muted my-3 p-3">
            <a href="">Forgot password?</a> <br>
            Don't have account? <a href="/register">Sign Up</a>
          </div>
          <div class='server-err'>
            {{serverErrMsg.email}}
            {{serverErrMsg.password}}
          </div>
          <button (click)="handleCheck()" class="w-100 btn btn-lg btn-dark" >Log in</button>
      </form>
  </div>
</div>


