<swiper
    [grabCursor]="true"
    [effect]="'coverflow'"
    [loop]="true"
    [navigation]="true"
    [autoplay]="{
    delay: 2500,
    disableOnInteraction: false
    }"
    [pagination]="{
    clickable: true
    }"
    class="mySwiper"
  >
    <ng-template swiperSlide class='mySlide'>
      <img src="assets/images/slide1.jpg" />
      <div class="carousel-caption">
        <div class="slider-btn">
          <button class="btn btn-1">Our Services</button>
          <button routerLink="/information/contact" class="btn btn-2">Contact us</button>
        </div>
      </div>
      </ng-template
    ><ng-template swiperSlide class='mySlide'>
      <img src="assets/images/slide2.jpg" />
      <div class="carousel-caption">
        <h5>Vatiety of proucts with best prices</h5>
        <div class="slider-btn">
          <button class="btn btn-1">Our Services</button>
          <button routerLink="/information/contact" class="btn btn-2">Contact us</button>
        </div>
      </div>
      </ng-template
    >
    <ng-template swiperSlide class='mySlide'>
      <img src="assets/images/slide3.jpg" />
      <div class="carousel-caption">
        <h5>Fastest Delivery</h5>
        <p>Wherever you are, Whenever you want.</p>
        <div class="slider-btn">
          <button class="btn btn-1">Our Services</button>
          <button routerLink="/information/contact" class="btn btn-2">Contact us</button>
        </div>
      </div>
      </ng-template
    >
    <ng-template swiperSlide class='mySlide'>
      <img src="assets/images/slide4.jpg" />
      </ng-template
    >
    <ng-template swiperSlide class='mySlide'>
      <img src="assets/images/slide6.jpg" />
      </ng-template
    >
  </swiper>