<section class="item-details section">
  <div class="container">
    <div class="top-area">
      <div class="row align-items-center">
        <div class="col-lg-6 col-md-12 col-12">
          <div class="product-images">
              <div class="main-img">
                <img [src]="apiURL+product.mainImage" id="current" alt="#">
              </div>
          </div>
        </div>
        <div class="col-lg-6 col-md-12 col-12">
          <div class="product-info">
            <h2 class="title">{{product.longName}}</h2>
            <span *ngFor="let single of product.category">
              <p class="category">{{single.name}} ,</p>
            </span>
            <h3 class="price">{{product.price |currency}}</h3>
            <p class="info-text"></p>
            <div class="bottom-content">
              <div class="row align-items-end">
                <div class="col-lg-6 col-md-6 col-12">
                  <div  class="wish-button">
                    <button id='cart-button' class="btn" (click)="addToCart(product._id)"><i class="fas fa-cart-plus"></i> Add To Cart</button>
                  </div>
                </div>
                <div class="col-lg-6 col-md-6 col-12">
                  <div class="wish-button">
                    <button class="btn"><i class="fas fa-heart"></i>Add To Wishlist</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="product-details-info">
      <div class="single-block">
          <div class="row">
              <div class="col-lg-6 col-12">
                  <div class="info-body custom-responsive-margin">
                      <h4><i class="fas fa-dot-circle"></i> Details</h4>
                      <p>{{product.description}}</p>
                  </div>
              </div>
              <div class="col-lg-6 col-12">
                  <div class="info-body">
                      <h4><i class="fas fa-dot-circle"></i> Specifications</h4>
                      <ul class="normal-list">
                          <!-- <li><span>Made Of: </span> Hard Steel</li> -->
                      </ul>
                  </div>
              </div>
          </div>
      </div>
  </div>
  <app-review [product]="product" ></app-review>
  </div>
</section>
