.item-details {
    background-color: #f9f9f9;
    padding: 40px 0;
  }
  
  .item-details .top-area {
    background-color: #fff;
    padding: 30px;
    border: 1px solid #eee;
    border-radius: 4px;
  }
  
  .item-details .product-images img {
    width: 100%;
    cursor: pointer;
    border: 1px solid #eee;
    border-radius: 4px;
    overflow: hidden;
    padding: 5px;
  }
    
  .item-details .product-info {
    padding-left: 30px;
  }
  
  @media only screen and (min-width: 768px) and (max-width: 991px),
  (max-width: 767px) {
    .item-details .product-info {
      padding: 0;
      margin-top: 30px;
    }
  }
  
  .item-details .product-info .title {
    font-size: 30px;
    font-weight: 600;
    margin-bottom: 10px;
  }
  
  @media (max-width: 767px) {
    .item-details .product-info .title {
      font-size: 25px;
    }
  }
  
  .item-details .product-info .category {
    display: block;
    margin-bottom: 15px;
  }
    
  .item-details .product-info .price {
    color: #081828;
    display: block;
    font-size: 60px;
    font-weight: 600;
    margin-bottom: 15px;
  }
  
  @media (max-width: 767px) {
    .item-details .product-info .price {
      font-size: 50px;
    }
  }
    
  @media (max-width: 767px) {
    .item-details .product-info .price span {
      font-size: 20px;
    }
  }
  
  .item-details .product-info .info-text {
    margin-bottom: 10px;
    padding-bottom: 20px;
    border-bottom: 1px solid #eee;
  }
        
  .item-details .product-info .wish-button {
    display: inline-block;
    width: 100%;
  }
  
  @media (max-width: 767px) {
    .item-details .product-info .wish-button {
      margin-top: 12px;
    }
  }
  
  .item-details .product-info .wish-button .btn {
    display: inline-block;
    margin-right: 7px;
    border: 1px solid rgb(212, 210, 210);
    border-radius: 5px;
    color: #555;
    padding: 10px 18px;
    font-size: 13px;
    font-weight: 600;
    -webkit-transition: all 0.4s ease;
    transition: all 0.4s ease;
    height: 46px;
    width: 100%;
  }
  #cart-button {
    color: rgb(255, 255, 255);
    position:relative;
    background-color: var(--colorR3);
  }
.fa-dot-circle{
  color: var(--colorR1);
}
  .item-details .product-info .wish-button .btn:hover {
    color: #fff;
    background-color: var(--colorR1);
    border-color: transparent;
  }
  #cart-button:hover {
    color: rgb(255, 255, 255);
    background-color: var(--colorR1);
  }
  
  .item-details .product-info .wish-button .btn .fa-heart {
  color:red;margin-right:5px;
  font-size: 18px;
  }
  .item-details .product-info .wish-button .btn .fa-cart-plus {
  color:rgb(255, 255, 255);margin-right:5px;
  font-size: 18px;
  }
    
  .item-details .product-info .bottom-content {
    margin-top: 20px;
  }
  
  /* Product Details Info */
  .product-details-info .single-block {
    background-color: #fff;
    padding: 30px;
    border: 1px solid #eee;
    border-radius: 4px;
    margin-top: 30px;
  }
  .custom-responsive-margin p{
    font-size: 20px;
  }
  @media only screen and (min-width: 768px) and (max-width: 991px),
  (max-width: 767px) {
    .product-details-info .info-body.custom-responsive-margin {
      margin-bottom: 30px;
    }
  }
  
  .product-details-info .info-body h4 {
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 20px;
  }
  
  .product-details-info .info-body p {
    margin: 20px 0;
  }
    
  .product-details-info .info-body .normal-list {
    margin-bottom: 30px;
  }
  
  .product-details-info .info-body .normal-list:last-child {
    margin-bottom: 0;
  }
  
  .product-details-info .info-body .normal-list li {
    display: block;
    margin-bottom: 12px;
    position: relative;
  }
  
  .product-details-info .info-body .normal-list li span {
    font-weight: 500;
    color: #555;
  }
  
  .product-details-info .info-body .normal-list li:last-child {
    margin: 0;
  }
  .cart-errors{
    position: fixed;
    background-color: #e0dede;
    padding: 20px;
    z-index: 2;
    border-radius: 20px;
    top: -350px;
    right: -250px;
    transition: all 0.4s ease-in-out;
    animation: move 1s ease-in-out forwards;
  }
  .cart-errors div {
    font-size:20px;
    color:red
  }
  @keyframes move {
    100%{
      top: 200px;
      right:200px
    }
  }
  