<div class="footer-top">
  <div class="footer-logo">
    <a routerLink="/">
      <img src="assets/images/logo.png" alt="#" />
      <span>Gear Up</span>
    </a>
  </div>
  <div class="footer-newsletter">
    <h4 class="title">Subscribe to our Newsletter</h4>
    <p>Get all the latest information, Sales and Offers.</p>
    <div class="newsletter-form-head">
      <form class="newsletter-form">
        <mat-form-field appearance="fill" class="form-field">
          <mat-label [style.color]="'white'">Email</mat-label>
          <input matInput />
        </mat-form-field>
        <button mat-raised-button class="btn2" type="submit">Subscribe</button>
      </form>
    </div>
  </div>
</div>
