
  .page-title {
    background: linear-gradient(to right,rgb(0, 0, 0),var(--colorR0),var(--colorR1),rgb(0, 0, 0));
    padding: 35px 0;
  }
  
  .page-title h3 {
    color: #fff;
    font-size: 42px;
    letter-spacing: 0;
    line-height: 1;
    margin-bottom: 0;
  }