.footer {
  background: linear-gradient(
    to right,
    rgb(31, 3, 54),
    rgb(68, 1, 68),
    var(--darkbutton)
  );
  color: white;
  padding: 1rem 3rem;
  @media (max-width: 767px) {
    padding: 1rem 2rem;
  }
}
