<div>
    <h3 class="tab-title my-4">Product Reviews</h3>
    <div class="product-review">
      <div class="media" *ngFor="let review of reviews">
        <!-- Avater -->
        <img [src]="apiURL+review.reviewerPic" alt="avater">
        <div class="media-body">
          <!-- Ratings -->
          <div class="name">
            <h5>{{review.reviewerName}}</h5>
          </div>
          <div class="date">
            <p class="text-muted">{{review.date}}</p>
          </div>

          <div class="ratings">
            <ul class="list-inline">
              <li class="list-inline-item" *ngFor="let rating of createRange(review.rate);">
                <i class="fa fa-star"></i>
              </li>
            </ul>
          </div>
          <div class="review-comment">
            <p>
              {{review.message}}
            </p>
          </div>
        </div>
      </div>
      <div class="review-submission">
        <h3 class="tab-title">Submit your review</h3>
        <!-- Rate -->
        <div class="rate">
            <star-rating 
            [value]="1" 
            [totalstars]="5" 
            checkedcolor="rgb(83, 2, 2)" 
            uncheckedcolor="rgb(238, 110, 110)" 
            size="30px" 
            [readonly]="false" 
            (rate)="onRate($event)"></star-rating>
        </div>
        <div class="review-submit">
          <form class="row" [formGroup]="reviewForm" (ngSubmit)="addReview()">
            <div class="col-12">
              <textarea formControlName="message" rows="10" class="form-control" placeholder="Write Your Review Here"></textarea>
            </div>
            <div class="col-12">
              <button type="submit" class="btn btn-main">Sumbit</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>