<div class="footer-bottom">
    <div class="container">
        <div class="inner-content">
            <div class="row align-items-center">
                <div class="col-lg-4 col-12">
                    <div class="payment-gateway">
                        <span>We Accept:</span>
                        <img src="assets/images/cc.png" alt="#">
                    </div>
                </div>
                <div class="col-lg-4 col-12">
                    <div class="copyright">
                        <p>Designed and Developed by
                            <a href="https://github.com/ahmedalianz"
                                target="_blank"><img src="https://avatars.githubusercontent.com/u/87319048?v=4" alt="github account"></a>
                            <a href="https://github.com/MarwaAbdelbasit"
                                target="_blank"><img src="https://avatars.githubusercontent.com/u/61591636?v=4" alt="github account"></a>
                            </p>
                    </div>
                </div>
                <div class="col-lg-4 col-12">
                    <ul class="socila">
                        <li>
                            <span>Follow Us On:</span>
                        </li>
                        <li><a href="/" target="_blank"><i class="fab fa-facebook-f"></i></a></li>
                        <li><a href="/" target="_blank"><i class="fab fa-twitter"></i></a></li>
                        <li><a href="/" target="_blank"><i class="fab fa-instagram"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
