<div class="footer-top">
    <div class="container">
        <div class="inner-content">
            <div class="row">
                <div class="col-lg-3 col-md-4 col-12">
                    <div class="footer-logo">
                        <a routerLink="/">
                            <img src="assets/images/scart.png" alt="#">
                            <span>E-Commerce</span>
                        </a>
                    </div>
                </div>
                <div class="col-lg-9 col-md-8 col-12">
                    <div class="footer-newsletter">
                        <h4 class="title">
                            Subscribe to our Newsletter
                            <span>Get all the latest information, Sales and Offers.</span>
                        </h4>
                        <div class="newsletter-form-head">
                            <form action="#" class="newsletter-form">
                                <div class="input-group mb-3">
                                    <input type="email" class="form-control" placeholder="Email address here..." >
                                    <button class="btn btn-outline-primary text-white" type="submit">Subscribe</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
