<section class="section" *ngIf="isLoaded else elseBlock">
  <div class="container">
        <div class="widget">
          <h1 class="widget-header">All Products</h1>
          <div class="table-responsive">
              <table class="table  product-dashboard-table">
                <thead>
                  <tr>
                    <th>Image</th>
                    <th>product Name</th>
                    <th class="text-center">Action</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let product of products"> 
                    <td class="product-thumb">
                      <img width="80px" height="auto" [src]="apiURL+product.mainImage" alt="product image"></td>
                    <td class="product-details">
                      <h6>{{product.shortName}}</h6>
                    </td>
                    <td class="action" data-title="Action">
                      <div >
                        <ul class="list-inline d-flex justify-content-center">
                          <li class="list-inline-item">
                            <a data-toggle="tooltip" data-placement="top" title="view" routerLink="/admin/products/singleProduct/{{product._id}}">
                              <i class="fa fa-eye"></i>
                            </a>
                          </li>
                          <li class="list-inline-item">
                            <a class="edit" data-toggle="tooltip" data-placement="top" title="Edit" routerLink="/admin/products/editProduct/{{product._id}}">
                              <i class="fas fa-edit"></i>
                            </a>
                          </li>
                          <li class="list-inline-item" >
                            <a (click)="removeProduct(product._id)" data-toggle="tooltip" data-placement="top" title="Delete" class='delete'>
                              <i class="fa fa-trash"></i>
                            </a>
                          </li>
                        </ul>
                      </div>
                    </td>
                  </tr>
                </tbody>
              </table>
          </div>
                    <!-- pagination -->
        <div class="pagination justify-content-center">
          <nav aria-label="Page navigation">
              <ul class="pagination">
                  <li class="page-item">
                      <a class="page-link" aria-label="Previous" (click)="prevPage()">
                          <span aria-hidden="true">&laquo;</span>
                          <span class="sr-only">Previous</span>
                      </a>
                  </li>
                  <li class="page-item active" (click)="paging(1)">
                      <a class="page-link" >1</a>
                  </li>
                  <li class="page-item " (click)="paging(2)">
                      <a class="page-link" >2</a>
                  </li>
                  <li class="page-item" (click)="paging(3)">
                      <a class="page-link" >3</a>
                  </li>
                  <li class="page-item" (click)="nextPage()">
                      <a class="page-link"  aria-label="Next">
                          <span aria-hidden="true">&raquo;</span>
                          <span class="sr-only">Next</span>
                      </a>
                  </li>
              </ul>
          </nav>
      </div>
<!-- pagination -->

      </div>
  </div>
</section>
<ng-template #elseBlock>
  <div class="d-flex justify-content-center my-5">
    <div class="spinner-border" style="width: 15rem; height: 15rem;" role="status">
    </div>
  </div>
  </ng-template>



