<div class='sign-up'>

  <div class="login-box">
    <h2>Sign Up</h2>
    <form [formGroup]="registerForm" (ngSubmit)="register()">
      <img src="assets/images/logo.png" alt="">

        <div class='row'>
            <div class='col-6'>
      <div class="user-box">
        <input type="text" class="form-control" formControlName="name" required>
        <label for="name">Name</label>
      </div>
      <div class="user-box">
        <input type="email" class="form-control" formControlName="email" required>
        <label for="email">Email address</label>
      </div>
      <div class="user-box">
        <input type="password" class="form-control" formControlName="password" required>
        <label for="password">Password</label>
      </div>
    </div>
    <div class='col-6'>

    <div formGroupName="adress">
      <div class="user-box">
        <input type="text" class="form-control" formControlName="country" required>
        <label for="country">Country</label>
    </div>

        <div class="user-box">
            <input type="text" class="form-control" formControlName="city" required>
            <label for="city">City</label>
        </div>

        <div class="user-box">
            <input type="text" class="form-control" formControlName="postalCode" required>
            <label for="postalCode">Postal Code</label>
        </div>

        <div class="user-box">
            <input type="text" class="form-control" formControlName="telephone" required>
            <label for="telephone">Phone</label>
        </div>
      </div>
        <div class="register-errors" [ngClass]="isSubmitted?'d-block':'d-none'">
          <div *ngIf="name?.invalid && (name?.touched || name?.dirty || isSubmitted)">
            <div *ngIf="name?.errors?.['required']">name is required</div>
          </div>
          <div *ngIf="email?.invalid && (email?.touched || email?.dirty || isSubmitted)">
            <div *ngIf="email?.errors?.['required']">email is required</div>
            <div *ngIf="email?.errors?.['email']">invalid email address</div>
          </div>
          <div *ngIf="password?.invalid && (password?.touched || password?.dirty || isSubmitted)">
            <div *ngIf="password?.errors?.['required']">password is required</div>
            <div *ngIf="password?.errors?.['pattern']">password must contain 8 characters, one number, one letter, and a special case</div>
          </div>
          <div *ngIf="country?.invalid && (country?.touched || country?.dirty || isSubmitted)">
            <div *ngIf="country?.errors?.['required']">country is required</div>
        </div>
        <div *ngIf="city?.invalid && (city?.touched || city?.dirty || isSubmitted)">
          <div *ngIf="city?.errors?.['required']">city is required</div>
      </div>
      <div *ngIf="postalCode?.invalid && (postalCode?.touched || postalCode?.dirty || isSubmitted)">
        <div *ngIf="postalCode?.errors?.['required']">postal code is required</div>
    </div>
    <div *ngIf="telephone?.invalid && (telephone?.touched || telephone?.dirty || isSubmitted)">
      <div *ngIf="telephone?.errors?.['required']">Phone is required</div>
  </div>
      </div>

    </div>
</div>
<div class='server-err'>
  {{serverErrMsg.name}}
  {{serverErrMsg.email}}
  {{serverErrMsg.password}}
</div>

<div class='signup-bottom'>

      <button>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        Submit
      </button>
      <a href="/login">Alread a member? Log in</a>
    </div>

    </form>
  </div>
</div>



