.mySlider {
  height: 4rem;
  width: 100%;
}

.carousel-item{
  height: 95vh;
  min-height: 300px;
  background: no-repeat scroll center scroll;
  background-size: cover;
}

.carousel-item::before{
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background: #000;
  opacity: 0.4;
}

.carousel-caption {
  bottom: 180px;
  text-align: left;
  color: #fff;
}

.carousel-caption h5 {
  font-size: 100px;
  font-weight: 100;
}

.carousel-caption p {
  font-size: 40px;
  font-weight: 40;
}

.carousel-item .btn {
  background-color: #CE1212;
  color: #fff;
  margin-right: 5px;
  margin-top: 5px;
}

.carousel-item .btn:hover {
  background: none;
  color: #CE1212;
  margin-right: 5px;
  margin-top: 5px;
  border: 1px solid #CE1212;
}
