<div class='admin-reg'>
  <div class="main">
    <input type="checkbox" id="chk" aria-hidden="true">

    <div class="signup">
      <form [formGroup]="registerForm" (ngSubmit)="register()">
        <label for="chk" aria-hidden="true">Sign up</label>
        <input type="text" formControlName="name" placeholder="Admin name">
        <input type="email" formControlName="email" placeholder="Email">
        <input type="password" formControlName="password" placeholder="Password">
        <select formControlName="position">
          <option value="Manger" selected>Manger</option>
          <option value="Assistant">Assistant</option>
        </select>
        <div class='server-err'>
          {{serverErrMsg.name}}
          {{serverErrMsg.email}}
          {{serverErrMsg.password}}
        </div>
        <button>Sign up</button>
      </form>
    </div>
    <div class="register-errors" [ngClass]="isSubmittedR?'d-block':'d-none'">
    <div *ngIf="nameR?.invalid && (nameR?.touched || nameR?.dirty || isSubmittedR)">
      <div *ngIf="nameR?.errors?.['required']">name is required</div>
    </div>
    <div *ngIf="emailR?.invalid && (emailR?.touched || emailR?.dirty || isSubmittedR)">
      <div *ngIf="emailR?.errors?.['required']">email is required</div>
      <div *ngIf="emailR?.errors?.['email']">invalid email address</div>
    </div>
    <div *ngIf="passwordR?.invalid && (passwordR?.touched || passwordR?.dirty || isSubmittedR)">
      <div *ngIf="passwordR?.errors?.['required']">password is required</div>
    </div>
</div>
    <div class="login">
      <form [formGroup]="loginForm" (ngSubmit)="login()">
        <label for="chk" aria-hidden="true">Login</label>
        <input type="email" formControlName="email" placeholder="Email">
        <input type="password" formControlName="password" placeholder="Password">
        <div class='server-err'>
          {{serverErrMsg.name}}
          {{serverErrMsg.email}}
          {{serverErrMsg.password}}
        </div>
        <button>Login</button>
      </form>
    </div>
    <div class="register-errors" [ngClass]="isSubmittedL?'d-block':'d-none'">
        <div *ngIf="emailL?.invalid && (emailL?.touched || emailL?.dirty || isSubmittedL)">
          <div *ngIf="emailL?.errors?.['required']">email is required</div>
          <div *ngIf="emailL?.errors?.['email']">invalid email address</div>
        </div>
        <div *ngIf="passwordL?.invalid && (passwordL?.touched || passwordL?.dirty || isSubmittedL)">
          <div *ngIf="passwordL?.errors?.['required']">password is required</div>
        </div>
    </div>
    
  </div>
</div>
