.form-cont {
  height: 100%;
  /* color: white; */
  display: flex;
  align-items: center;
  padding: 3rem 5rem;
}

.form-login {
  width: 100%;
  max-width: 600px;
  min-width: 100px;
  padding: 15px;
  margin: auto;
  color: #396EB0;
  border-radius: 25px;
  border: 0.2rem solid #df6363;
  font-weight: 700;
}
.form-login form{
  color:red;
}
.form-login form img{
  width: 100%;
  width: 80px;
  height: 80px;
}
.form-login:hover {
box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.form-login .user{
margin: auto;
width: 70px;
height: 70px;
color: #396EB0;
border-radius: 50%;
box-shadow: rgba(198, 198, 238, 0.2) 0px 7px 29px 0px;
position: relative;
min-height: 70px;
background-color: #fff;
}

.form-login h1 {
margin:auto;
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%,-50%);
}

.form-login .form-floating {
margin: 1rem 0rem;
}
.form-login .form-floating:focus-within {
  z-index: 2;
}

.form-login input,
.form-login .btn{
  margin: 5px 0;
  border-radius: 2rem;
  border: none;
  cursor: pointer;
}

.form-login .btn:hover {
border: 1px solid #396EB0;
background: none;
color: #396EB0;
}

.form-login input:hover {
box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
