<div class="footer-middle">
    <div class="container">
        <div class="bottom-inner">
            <div class="row">
                <div class="col-lg-3 col-md-6 col-12">
                    <div class="footer-part f-contact">
                        <h3>Get In Touch With Us</h3>
                        <p class="phone">Phone: Manger Phone</p>
                        <ul>
                            <li><span>Monday-Friday: </span> 9.00 am - 8.00 pm</li>
                            <li><span>Saturday: </span> 10.00 am - 6.00 pm</li>
                        </ul>
                        <p class="mail">
                            <a href="mailto:ahmedalian400@gmail.com">Email to manger @g.com</a>
                        </p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-12">
                    <div class="footer-part f-link">
                        <h3>Information</h3>
                        <ul>
                            <li><a routerLink="/">About Us</a></li>
                            <li><a routerLink="/">Contact Us</a></li>
                            <li><a routerLink="/">FAQs Page</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-12">
                    <div class="footer-part f-link">
                        <h3>Shop Departments</h3>
                        <ul>
                            <li><a routerLink="/">Computers & Accessories</a></li>
                            <li><a routerLink="/">Smartphones & Tablets</a></li>
                            <li><a routerLink="/">TV, Video & Audio</a></li>
                            <li><a routerLink="/">Cameras, Photo & Video</a></li>
                            <li><a routerLink="/">Headphones</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-12">
                    <div class="footer-part f-link">
                        <h3>Policy</h3>
                        <ul>
                            <li><a routerLink="/">Shipping & Return</a></li>
                            <li><a routerLink="/">Terms & Conditions</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
