<section class="page-title mb-4">
    <!-- Container Start -->
    <div class="container">
        <div class="row">
            <div class="col-md-8 offset-md-2 text-center">
                <!-- Title text -->
                <h3>Return & Refund</h3>
            </div>
        </div>
    </div>
    <!-- Container End -->
</section>
<div class="return my-4">
        <div class='row'>
        <div class='col-md-8'>
            <img src="assets/images/return3.jpg" alt="#">
        </div>
        <div class='col-md-4'>
            <h3 class='text-center'>
                Easy Online Return
            </h3>
            <div class='row m-auto return-part'>
                <div class='col-12 text-center'>
                    14-Days Return
                </div>
                <div class='col-12 text-center'>
                    100% Full Refund
                </div>
                <div class='col-12 text-center'>
                    No Return Fees
                </div>
                <div class='col-12 text-center'>
                    Online Return
                </div>
            </div>
        </div>
    </div>
    <div class='return-policy'>
        Ensure you enclose the correct and complete item when
        making a return. The correct item must be returned to receive
        a refund. <span>Gear Up</span> does not store items sent to us
        and instead donates, or recycles them, when appropriate and possible.
        If you accidentally sent the wrong item to <span>Gear Up</span> ,
        please contact <a href="/">Customer Service</a>  as soon as possible.
        <span>Gear Up</span> cannot guarantee your item will be found and returned,
        and no compensation is provided for incorrect items sent to <span>Gear Up</span>.
    </div>
</div>