<div class="footer-middle">
  <div class="footer-middle-part f-contact">
    <h3>Get In Touch With Us</h3>
    <p class="phone">Phone: Manger Phone</p>
    <ul>
      <li><span>Monday-Friday: </span> 9.00 am - 8.00 pm</li>
      <li><span>Saturday: </span> 10.00 am - 6.00 pm</li>
    </ul>
    <p class="mail">
      <a href="mailto:ahmedalian400@gmail.com">Email to manger @g.com</a>
    </p>
  </div>
  <div class="footer-middle-part f-link">
    <h3>Information</h3>
    <ul>
      <li><a routerLink="/information/about">About Us</a></li>
      <li><a routerLink="/information/contact">Contact Us</a></li>
    </ul>
  </div>
  <div class="footer-middle-part f-link">
    <h3>Shop Departments</h3>
    <ul>
      <li><a routerLink="/">Computers & Accessories</a></li>
      <li><a routerLink="/">Smartphones & Tablets</a></li>
      <li><a routerLink="/">TV, Video & Audio</a></li>
      <li><a routerLink="/">Cameras, Photo & Video</a></li>
      <li><a routerLink="/">Headphones</a></li>
    </ul>
  </div>
  <div class="footer-middle-part f-link">
    <h3>Policy</h3>
    <ul>
      <li>
        <a routerLink="/policy/shipping">Shipping and Delivery</a>
      </li>
      <li><a routerLink="/policy/return">Returns and Refund</a></li>
      <li><a routerLink="/policy/terms">Terms and Conditions</a></li>
    </ul>
  </div>
</div>
